/*FILTER*/

.mediaFilterPosition {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: -12px;
    height: 100%;
    width: 100vw;
    z-index: 1;
}

.mediaFilterScreen {
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    z-index: 0;
}


.mediaFilterBox {
    gap: 13px;
    border: 4px solid rebeccapurple;
    border-radius: 10px;
    padding: 1rem 2rem 1.5rem;
    background-color: violet;
    z-index: 2;
}

.mediaFilterBox h4 {
    font-size: 1.5rem;
    text-align: center;
    text-indent: 0;
}

.mediaFilter {
    justify-content: center;
    gap: 12px;
}

.upBtn {
    padding: 5px;
}

.downBtn {
    padding: 5px;
    transform: rotate(180deg);
}

.mediaFilter svg {
    height: 23px;
}

.mediaFilter p {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.mediaFilter input[type=text] {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    max-width: 150px;
    margin-bottom: 5px;
    border: 0;
    border-bottom: 3px solid black;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

.mediaFilter button {
    font-size: 1.4rem;
    box-shadow: 0 0 3px 3px black;
    margin: 7px;
    transition: 0.3s;
}

.mediaFilter button:hover {
    box-shadow: 0 0 3px 1px black;
}

.filterType {
    height: 75px;
    border-radius: 50%;
    transition: 0.3s;
}

.filterType:hover {
    box-shadow: 0 0 10px 3px black;
}

/*TABELA*/

.libBox {
    margin: 25px 0 0;
    border-radius: 10px;
    background-color: rebeccapurple;
    padding: 4px;
}

.filterOption:hover {
    text-shadow: 0 0 0.2px black;
}

.orderBox {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
        "pic title fame";
    font-size: 1.2rem;
    text-align: center;
    background-color: hotpink;
}

.orderBox:first-of-type {
    border-radius: 7px 7px 0 0;
}

.orderBox:first-of-type .fOrder:first-of-type {
    border-radius: 7px 0 0 0;
}

.orderBox:first-of-type .fOrder:last-of-type {
    border-radius: 0 7px 0 0;
}

.orderBox:last-of-type {
    border-radius: 0 0 7px 7px;
}

.orderBox:last-child .fOrdered:first-of-type {
    border-radius: 0 0 0 7px;
}

.fOrder {
    justify-content: center;
    font-weight: 600;
    padding: 0.4rem 0;
    background-color: violet;
}

.fOrder h5 {
    text-indent: 0;
}

.fOrdered {
    justify-content: center;
    align-items: center;
    min-height: 60px;
    max-height: 100px;
    font-size: 1rem;
    font-weight: 600;
}

.fTitle h5 {
    text-indent: 0px;
    transition: 0.3s;
}

.fTitle h5:hover {
    text-shadow: 0 0 0.2px black;
}

.fOrdered:nth-of-type(1) {
    background-color: pink;
    grid-area: pic;
}

.fOrdered:nth-of-type(2) {
    justify-content: left;
    text-align: left;
    padding: 0 15px;
    grid-area: title;
}

.fOrder:nth-of-type(3) {
    display: none;
}

.fOrdered:nth-of-type(3) {
    display: none;
    grid-area: year;
}

.fOrder:nth-of-type(4) {
    display: none;
}

.fOrdered:nth-of-type(4) {
    display: none;
    grid-area: type;
}

.fOrder:nth-of-type(5) p {
    position: relative;
    top: 4px;
    margin: 0;
}

.fOrdered:nth-of-type(5) {
    grid-area: fame;
}

.tablePic {
    max-height: 85%;
    max-width: 85%;
    border-radius: 3px;
}

.tableType {
    max-height: 75%;
    max-width: 75%;
}

/*PODROBNOSTI FILMA*/

.filmBox {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows:
        min-content min-content;
    grid-template-areas:
        "title title"
        "image type"
        "people people"
        "explain explain"
        "describe describe"
        "result result"
        "options options";
    align-items: center;
    gap: 15px;
}

.filmBox p {
    margin: 5px;
}

.titleBox {
    grid-area: title;
}

.titleBox h3 {
    font-size: 1.8rem;
}

.titleBox p {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
    padding-left: 25px;
}

.image {
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-area: image;
}

.image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
}

.dataType {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0;
}

.data {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
}

.typeBox {
    align-items: center;
    gap: 10px;
    padding: 0 25px;
    grid-area: type;
}

.femType {
    width: 100%;
    max-width: 150px;
}

.genreType p {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
}

.peopleBox {
    grid-area: people;
}

.directorsBox {
    grid-area: director;
}

.actorsBox {
    grid-area: actors;
}

.staffBox {
    grid-area: staff;
}

.explanationBox {
    grid-area: explain;
}

.descriptionBox {
    grid-area: describe;
}

.pollBox {
    justify-self: center;
    margin: 5px auto 0;
    border-radius: 15px;
    padding: 1.5em 1em 3.5em;
    background-color: violet;
    grid-area: result;
}

.rating {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-weight: 600;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.rating p {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0;
    padding: 0 1rem;
}

.rIcon {
    position: absolute;
    cursor: pointer;
    top: 35px;
    transition: 0.3s;
}

.rIcon:hover {
    font-size: 1.5rem;
}

.optionsBox {
    gap: 20px;
    width: 100%;
    margin: 30px auto 5px;
    grid-area: options;
}

/*EDITING*/

.editForm {
    gap: 7px;
}

.editForm h3 {
    margin: 10px auto 0;
}

.editForm label {
    display: inline-flex;
    align-items: baseline;
    gap: 5px;
}


.editForm label p {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
}

.editForm input {
    margin-bottom: 10px;
}

.editForm input[type=text] {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    border: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.4);
    padding: 0.2em 0.4em;
    transition: 0.4s;
}

.editForm input[type=text]:focus {
    border-bottom: 3px solid rgba(0, 0, 0, 1);
    outline: none;
}

.editForm input[type=number] {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.4);
    padding: 0.2em 0;
    transition: 0.4s;
}

.editForm input[type=number]:focus {
    border-bottom: 3px solid rgba(0, 0, 0, 1);
    outline: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.editPicBox {
    align-items: center;
    align-self: baseline;
    margin-top: 3px;
}

.editPic {
    max-height: 300px;
    max-width: 300px;
    border-radius: 5px;
}

.editPicLabel {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 20px auto 10px;
    box-shadow:
        inset 0 0 0 0 rebeccapurple,
        0 0 5px 2px rebeccapurple;
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    transition: 0.2s;
}

.editPicLabel:hover {
    box-shadow:
        inset 0 0 0px 1px rebeccapurple,
        0 0 5px 3px rebeccapurple;
}

.editYear:nth-of-type(3) {
    margin-bottom: 10px;
}

.editPicLabel:active {
    box-shadow:
        inset 0 0 0 1px rebeccapurple,
        0 0 0 3px rebeccapurple;
}

.editPicBtn {
    display: none;
}

.editFemTypeBox input[type=checkbox] {
    display: none;
}

.editFemTypeImg {
    height: 75px;
    margin: 10px;
    transition: 0.5s;
    border-radius: 50%;
}

.editGenreBox {
    gap: 12px;
    width: 100%;
}

.editTextArea {
    font-size: 1.3rem;
}