#Credits {
    padding: 0px 20px;
}

#crExplain {
    display: block;
    max-width: 300px;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    margin: 10px auto 25px;
}

#crContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#creditBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 315px;
    width: 25%;
    max-width: 350px;
    font-size: 15px;
    margin: 7px;
    border: 4px solid rebeccapurple;
    border-radius: 10px;
    padding: 12px 15px;
}

#creditBox p {
    margin: 3px 5px;
}