#oNas {
  align-items: center;
  width: 100%;
  text-align: justify;
}

#cvsBox {
  padding: 25px 0px;
}

.cvBox {
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.cvImg {
  max-height: 120px;
  max-width: 120px;
  border: 1px solid black;
  border-radius: 8px;
}

.cvInfoBox {
  line-height: 1.2;
  gap: 7px;
}

.cvInfoBox p {
  font-size: 1.3rem;
  margin: 0;
}

#oNasLinkBox {
  justify-content: center;
}

#oNasLink a {
  font-family: "Lobster", serif;
  color: black;
  font-size: 1.3rem;
  text-decoration: none;
}
