.rootElement {
    width: 100%;
}

/*PAGE SECTIONS*/

#headBox {
    position: relative;
    background-color: purple;
}

#mainBox {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
    height: calc(100vh - 200px - 50px);
    padding: 25px 20px;
}

#footBox {
    position: fixed;
    bottom: 0;
    background-color: wheat;
}

/*SCROLLBAR*/

#mainBox::-webkit-scrollbar {
    width: 12px;
}

#mainBox::-webkit-scrollbar-thumb {
    box-shadow: inset 2px 3px 5px 2px rgba(255, 105, 180, 0.8);
    border-radius: 10px;
    background-color: rebeccapurple;
}

/*GENERIC TEXT TYPES*/

.defMouse {
    cursor: default;
}

.actMouse {
    cursor: pointer;
}

h1 {
    justify-self: center;
    align-self: center;
    color: whitesmoke;
    font-family: "Lobster", serif;
    font-size: 2.6rem;
    text-shadow:
        0 0 10px hotpink,
        0 0 3px black,
        0 0 5px black,
        0 0 7px black;
    grid-area: title;
    cursor: default;
}

h2 {
    font-family: "Lobster", serif;
    font-size: 1.8rem;
    text-align: center;
    cursor: default;
}

h3 {
    font-family: "Lobster", serif;
    text-indent: 25px;
    font-size: 1.5rem;
    cursor: default;
}

h4 {
    font-family: "Lobster", serif;
    font-size: 1.3rem;
    text-indent: 25px;
    cursor: default;
}

h5 {
    font-family: "Lobster", serif;
    font-size: 1.1rem;
    text-indent: 25px;
    cursor: default;
}

p {
    font-size: 1.05rem;
    margin: 12px 0;
    cursor: default;
}

input {
    font-family: "Unna", serif;
}

textarea {
    font-family: "Unna", serif;
}

button {
    font-family: "Unna", serif;
    font-size: 1.4rem;
    font-weight: 700;
    border: 0 solid black;
    box-shadow:
        0 0 10px 3px black,
        0 0 3px 1px black;
    ;
    border-radius: 0.3rem;
    padding: 0.3em 1em;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 0 3px 3px black;
}

button:active {
    box-shadow: 0 0 0 3px black;
}

/*HOVER MARKER*/

.hoverMarker {
    position: absolute;
    top: 40%;
    left: -12px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: black;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}