.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* xs */
@media (min-width: 360px) {
    .container {
        max-width: 360px;
    }

}

@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }

    #femLogo {
        height: 115px;
    }

    h1 {
        font-size: 2.8rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.1rem;
    }

    ul {
        font-size: 1.1rem;
    }

    .navBtn {
        font-size: 1.2rem;
        width: 140px;
    }

    #mediaBox {
        width: 100%;
    }

    .toMediaBtn {
        width: 45%;
    }

    .orderBox {
        grid-template-columns: 1fr 4fr 1fr 1fr;
        grid-template-areas: "pic title type fame";
    }

    .mOrder:nth-of-type(4) {
        display: block;
    }

    .mOrdered {
        font-size: 1.1rem;
    }

    .mOrdered:nth-of-type(4) {
        display: flex;
    }

    .dataType {
        font-size: 1.5rem;
    }

    .data {
        font-size: 1.25rem;
    }

    .image {
        max-width: 400px;
        max-height: 400px;
    }

    .genreType p {
        line-height: 1.3;
        font-size: 1.4rem;
    }

    .rating {
        width: 75px;
    }

    .rating p {
        font-size: 1.5rem;
    }

    .optionsBox {
        flex-direction: row;
        justify-content: center;
        max-width: 400px;
        margin: 15px 0 5px 0;
    }

    .optionsBox button {
        width: 40vw;
    }

    .editForm {
        align-items: center;
    }

    .editForm h3 {
        margin-top: 25px;
    }

    .editForm input[type=text] {
        text-align: center;
    }

    .editPicBox {
        align-self: center;
    }

    .editGenreBox {
        flex-wrap: wrap;
        gap: 15px 25px;
        max-height: 350px;
    }

    .editGenre {
        width: 50%;
    }

    .editGenre p {
        line-height: 1.25;
        padding-right: 15px;
    }

    .editOptionsBox {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "submit cancel"
            "return return";
        flex-direction: row;
        justify-content: center;
        margin: 30px 0 10px;
    }

    .popupBtn .popup {
        left: -145%;
        width: 250px;
        font-size: 1.2rem;
        padding: 10px 20px;
    }

}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }

    #panel {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "logo title navbar"
    }

    #nav {
        flex-direction: column;
        align-items: center;
    }

    #nav a {
        font-size: 1.3rem;
        width: 160px;
    }

    #femLogo {
        height: 150px;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.1rem;
    }

    h3 {
        font-size: 1.85rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    h5 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1.3rem;
    }

    ul {
        font-size: 1.3rem;
    }

    a {
        font-size: 1.3rem;
    }

    #mainBox {
        padding: 25px 40px;
    }

    #creditBox {
        min-width: 375px;
    }

    .toMediaBtn {
        max-width: 225px;
    }

    .orderBox {
        grid-template-columns: 1fr 4fr 0.9fr 0.9fr 1fr;
        grid-template-areas: "pic title year type fame";
    }

    .mOrder {
        font-size: 1.3rem;
    }

    .mOrder:nth-of-type(3) {
        display: block;
    }

    .mOrdered:nth-of-type(3) {
        display: flex;
        background-color: pink;
    }

    .tableOptions {
        gap: 25px;
    }

    .titleBox h3 {
        font-size: 2.1rem;
    }

    .titleBox p {
        font-size: 1.4rem;
    }

    .femType {
        max-width: 275px;
    }

    .genreType p {
        line-height: 1.5;
        font-size: 1.5rem;
    }

    .data {
        font-size: 1.3rem;
    }

    .editForm input[type=text] {
        font-size: 1.5rem;
    }

    .editForm input[type=number] {
        font-size: 1.5rem;
    }

    .editForm label p {
        font-size: 1.4rem;
    }

    .editPic {
        max-height: 350px;
        max-width: 350px;
    }

    .editGenreBox {
        max-height: 250px;
        max-width: 575px;
    }

    .editGenre {
        width: 33%;
    }

    .editGenre p {
        line-height: 1.25;
    }

    .editOptionsBox {
        max-width: 600px;
    }

    .popupBtn {
        height: 25px;
        width: 25px;
    }

    .popupBtn .popup {
        left: -245%;
        width: 300px;
        font-size: 1.2rem;
        padding: 10px 20px;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    h1 {
        font-size: 3.7em;
    }

    h5 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.4rem;
    }

    #oNasLink a {
        font-size: 1.4rem;
    }

    #creditBox p {
        font-size: 1.3rem;
    }

    .mOrder {
        font-size: 1.3rem;
    }

    .mOrdered {
        font-size: 1.3rem;
    }

    .editTextArea {
        max-width: 600px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .mOrdered h5 {
        padding: 5px 15px;
    }

    .mOrder:nth-of-type(4) {
        display: block;
    }

    .mOrdered:nth-of-type(4) {
        display: flex;
    }

    .orderBox {
        grid-template-columns: 0.6fr 4fr 0.6fr 0.6fr 0.6fr;
        grid-template-areas: "pic title year type fame";
    }
}

/* xl */
@media (min-width: 1280px) {}

/* 2xl */
@media (min-width: 1536px) {}