.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* xs */
@media (min-width: 360px) {
    .container {
        max-width: 360px;
    }

}

@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }

    #femLogo {
        height: 115px;
    }

    h1 {
        font-size: 2.8rem;
    }

    h5 {
        font-size: 1.1rem;
    }

    p {
        font-size: 1.1rem;
    }

    ul {
        font-size: 1.1rem;
    }

    .navBtn {
        font-size: 1.2rem;
        width: 140px;
    }

    /*contents*/

    #mediaBox {
        width: 100%;
    }

    .toMediaBtn {
        width: 45%;
    }

    .orderBox {
        grid-template-columns: 0.5fr 4fr 1fr 1fr;
        grid-template-areas: "id title type fame";
    }

    .fOrder:nth-of-type(5) {
        display: block;
    }

    .fOrdered {
        font-size: 1.1rem;
    }

    .fOrdered:nth-of-type(5) {
        display: block;
    }

    .dataType {
        font-size: 1.5rem;
    }

    .data {
        font-size: 1.1rem;
    }

    .optionsBox {
        align-self: center;
        max-width: 350px;
    }

    .editForm {
        align-items: center;
    }

    h3 {
        text-indent: 0;
    }

    .editForm h3 {
        margin-top: 25px;
    }

    .editForm input[type=text] {
        text-align: center;
    }

    .editPicBox {
        align-self: center;
    }

    .editGenreBox {
        flex-wrap: wrap;
        max-height: 350px;
    }

    .editGenre p {
        width: 50%;
    }

}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }

}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}